<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <!-- <h1>Paypal</h1> -->
        <h1>Please wait...<br>Do Not press Back button</h1>
        <form name="f1" action="/paypal" method="post">
        <input type="text" style="display:none" name="amount" id="amu" value="500.00"/>
      
           <!-- <button type="submit">Pay</button>-->
        </form>
    </body>
</html>
